<div class="wrapper">
  <div class="container">
    <h1>My tasks</h1>
      <% @tasks.each do |t| %>
        <% if t.completed == true %>
          <h3><input type="checkbox" checked> <%= t.title %></h3>
        <% else %>
          <h3><input type="checkbox"> <%= t.title %></h3>
      <% end %>
    <% end %>
  </div>
</div>
