<div class="wrapper">
  <div class="container">
    <h1>My tasks</h1>
      <% @tasks.each do |task| %>
        <% if task.completed == true %>
          <h2><input type="checkbox" checked> <%= link_to task.title, task %></h2>
        <% else %>
          <h2><input type="checkbox"> <%= link_to task.title, task %></h2>
      <% end %>
    <% end %>
    <p><%= link_to "Create a new task", new_path %></p>
  </div>
</div>
